@page
@model RazorPizzeria.Pages.Forms.CustomPizzaModel
@{
}

<div class="text-center container">
        <h1>Create Your Own Pizza</h1>

        <form method="post" class="mx-auto mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 bg-light col-4">
        
            <div class="form-group">
                  <input class="form-control" type="text" asp-for="Pizza.PizzaName"  id = "pizzaName" placeholder="Give your pizza a name.. ">
             </div>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" asp-for="Pizza.TomatoSauce" placeholder="Tomato Sauce">
              <label class="form-check-label" for="flexRadioDefault1">Tomato Sauce</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" asp-for="Pizza.Cheese" placeholder="Chesse">
              <label class="form-check-label" for="flexRadioDefault2">Chesse</label>
            </div>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" asp-for="Pizza.Beef" placeholder="Beef">
              <label class="form-check-label" for="flexRadioDefault2">Beef</label>
            </div>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" asp-for="Pizza.Ham" placeholder="Ham">
              <label class="form-check-label" for="flexRadioDefault2">Ham</label>
            </div>
             <div class="form-check">
              <input class="form-check-input"  type="checkbox" asp-for="Pizza.Mushroom" placeholder="Mushroom">
              <label class="form-check-label" for="flexRadioDefault2">Mushroom</label>
            </div>
             <div class="form-check">
              <input class="form-check-input" asp-for="Pizza.Pineapple" placeholder="Pineapple">
              <label class="form-check-label" for="flexRadioDefault2">Pineapple</label>
            </div>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" asp-for="Pizza.Peperoni" placeholder="Peperoni">
              <label class="form-check-label" for="flexRadioDefault2">Peperoni</label>
            </div>
             <div class="form-check">
              <input class="form-check-input" type="checkbox" asp-for="Pizza.Tuna" placeholder="Tuna">
              <label class="form-check-label" for="flexRadioDefault2">Tuna</label>
            </div>
            <button class="btn btn-primary mt-2" type="submit">Order My Pizza</button>
        </form>
</div>

<a class="nav-link text-dark" asp-area="" asp-page="Checkout/Checkout">Checkout</a>